.about_me_text {
    h3 {
        font-size: 18px;
    }
}

.about_me_education_info {
    .about_me_education_job {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;

        h3 {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #CCCCCC;
        }

        span {
            font-family: "Poppins", sans-serif;
            background-color: #d7ffe0;
            color: #018c0f;
            border-radius: 100px;
            padding: 6px;
            text-align: center;
            font-size: 9px;
            width: 80px;
            height: 24px;
        }
    }
    .about_me_education_school {
        display: flex;
        justify-content: space-between;

        div {
            &:nth-child(1) {
                span {
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 28px;
                    color: #a7a7a7;
                }
            }
            &:nth-child(2) {
                span {
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 28px;
                    color: #a7a7a7;
                }
            }
        }
    }
}
