@import "./navbar";

body {
    background-color: #191919;
}

.container {
    padding: 0 120px 200px 120px;
}

.container_titles {
    text-align: center;
    padding-bottom: 140px;
    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        color: #cccccc;
        padding-bottom: 50px;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 26px;
        color: #a7a7a7;
    }
}

.container_page {
    padding-bottom: 0;
}

.pages_container_titles {
    text-align: start;
}
