.tech_stack_titles {
    text-align: center;
    padding-bottom: 140px;
    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        color: #cccccc;
        padding-bottom: 50px;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 26px;
        color: #a7a7a7;
    }
}

.tech_stack_icon {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}
