nav {
    margin-top: 40px;
}

.nav_button {
    display: flex;
    justify-content: flex-end;
    a {
        padding-right: 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        font-family: "DM Sans", sans-serif;
        color: #a7a7a7;
    }
    img {
        width: 30px;
    }
}
