@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@300;400;500;700&display=swap");
@import "./reboot";
@import "./navbar";
@import "./common";
@import "./promotion";
@import "./my_tech_stack";
